############################
# Gradle
############################
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin


############################
# IntelliJ IDEA (local IDE config)
############################
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


############################
# IntelliJ Platform Gradle Plugin (local IDE downloads)
############################
.intellijPlatform/


############################
# IntelliJ sandbox (runtime when running plugin)
# Ignore ONLY root-level run/sandbox
############################
/run/
/sandbox/
build/idea-sandbox/


############################
# Grammar-Kit / JFlex generated sources
############################
gen/
src/main/gen/
src/gen/


############################
# Local tool jars
############################
jflex-1.9.2.jar


############################
# Other IDEs
############################
# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/


############################
# OS
############################
.DS_Store
Thumbs.db